@model List<Movie>

@foreach(Movie movie in Model)
{
    <h1>----------------------------------</h1>
    <h2>@movie.Name</h2>
    <h4>Genre: @movie.Genre</h4>
    <h4>Year of release: @movie.ReleaseYear</h4>
    <h4>Budget: $@movie.Budget</h4>
    <h4>Actors:</h4>
    <ul>
        @foreach(var kvp in movie.AllActors)
        {
            <li>@kvp.Key.Name as @kvp.Value</li>
        }
    </ul>
    <h4>Ratings:</h4>
    <ul>
        @foreach (Rating rating in movie.AllRatings)
        {
            <li>@rating.User.Name rated this movie @rating.Score <br />
            @if(rating.Comment != null)
            {
                <span>@rating.Comment</span>
            }
            </li>
        }
    </ul>
    <h1>----------------------------------</h1>
}

