@model List<Movie>

@foreach(Movie movie in Model)
{
    <h1>----------------------------------</h1>
    <h2>@movie.Name</h2>
    <h4>Genre: @movie.Genre</h4>
    <h4>Year of release: @movie.ReleaseYear</h4>
    <h4>Budget: $@movie.Budget</h4>
    <h4>Actors:</h4>
    @if(movie.AllActors.Count > 0)
    {
        foreach (var kvp in movie.AllActors)
        {
            <h5>@kvp.Key.Name as @kvp.Value</h5>
        }
    } else
    {
        <h5>This movie has no Actors</h5>
    }
    <h4>Ratings:</h4>
    @if(movie.AllRatings.Count > 0)
    {
        foreach (Rating rating in movie.AllRatings)
        {
            <h5>@rating.User.Name: @rating.Score</h5>
        }
    } else
    {
        <h5>This movie has no ratings</h5>
    }
    <h1>----------------------------------</h1>
}

